---
const redirectTo = new URL('./getting-started/', Astro.url);
---
<!doctype html>
<html lang="en">
<head>
  <title>Docs</title>
  <meta http-equiv="refresh" content={`0;url=${redirectTo.pathname}`}>
</head>
<body>
</body>
</html>