---
import DocLayout from '../../components/DocLayout.astro';
---

<DocLayout>
  <h1>Documentation</h1>

  <ul>
    <li>
      <a href="./getting-started/">Getting Started</a>
    </li>
  </ul>
</DocLayout>