:host {
  display: block;
  --main-bg: var(--cadetblue);
  --alt-bg: var(--gray);

  --main-color: var(--jet);
  --alt-color: #fff;
}

a, a:visited {
  font-weight: 600;
}

.shadow-section {
  box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.3);
  margin-bottom: 12px;
}

.intro, .about {
  padding: 2.7777777777777777rem 2.2222222222222223rem 1.6666666666666667rem 2.2222222222222223rem;
}

/* intro */
.intro {
  text-align: center;
  background-color: var(--main-bg);
  color: var(--main-color);
}

.primary-title {
  font-size: 2.2em;
}

.fritz-flame {
  width: 14rem;
  border-radius: 0.8rem;
}

.github {
  display: inline-block;
  text-align: center;
  width: 11rem;
  padding: 0.5rem 0;
  margin: 0.5rem 1rem;
  font-size: 150%;
  font-weight: 100;
}

.github, .github:visited {
  color: #fff;
  background-color: var(--vermilion);
  text-decoration: none;
}

.intro code-file {
  display: block;
  width: 60%;
  margin: auto;
  text-align: initial;
  font-size: 130%;
}

code-file:nth-of-type(1) {
  margin-top: 4rem;
}

code-snippet, code-file {
  display: block;
}

@media only screen and (max-width: 768px) {
  .intro code-file {
    width: 100%;
    font-size: 90%;
  }
}
/* end intro */

footer {
  background-color: var(--main-bg);
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 120%;
}

footer p {
  margin: 0;
}

footer a,
footer a:visited {
  color: #fff;
  font-weight: 600;
}
