---
import App from '../components/App';
import Another from '../components/Another';
---
<html lang="en">
<head>
  <title>Fritz</title>
</head>
<body>
  <h1>Testing</h1>
  <App count={5} client:load />
  <Another client:load />
</body>
</html>