---
import StylesCommon from '../components/StylesCommon.astro';
import HeadCommon from '../components/HeadCommon.astro';
import CodeFile from '../components/CodeFile.astro';
import MadeWith from '../components/MadeWith';
import TitleCard from '../components/TitleCard.astro';
import '../styles/global.css';

const workerJsCode = `
class HelloMessage extends Component {
  static props = {
    name: { attribute: true }
  }

  render() {
    return (
      <div>Hello {this.props.name}!</div>
    );
  }
}

fritz.define('hello-message', HelloMessage);
`;

const mainJsCode = `
import fritz from 'fritz/window';

fritz.use(new Worker('./worker.js'));
`;

const htmlCode = `
<script type="module" src="./main.js"></script>

<hello-message name="World"></hello-message>
`;
---

<!doctype html>
<html lang="en">
<StylesCommon />
<HeadCommon />
<style>
html {
  --main-bg: var(--cadet-blue);
  --alt-bg: var(--davys-grey);

  --main-color: var(--jet);
  --alt-color: var(--bone);

  --code-snippet-font-size: 110%;
}

a, a:visited {
  font-weight: 600;
}

.shadow-section {
  margin-bottom: 12px;
}

.intro, .about {
  padding: 2.7777777777777777rem 2.2222222222222223rem 1.6666666666666667rem 2.2222222222222223rem;
}

/* intro */
.intro {
  text-align: center;
  background-color: var(--main-bg);
  color: var(--main-color);
}

.primary-title {
  font-size: 2.2em;
}

.intro .code-file {
  text-align: initial;
  font-size: 130%;
  width: 80%;
  height: 100%;
  grid-gap: 1rem;
  --margin-width: .25rem;
}

header {
  margin-top: 7rem;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

header h2 {
  font-size: 3rem;
}

.side-by-side {
  margin-top: 4rem;
  display: grid;
  align-items: baseline;
  justify-items: center;
  grid-row-gap: 1rem;
}

@media only screen and (min-width: 1880px) {
  .side-by-side {
    grid-template-areas:
      "w m"
      "w h";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
  

  .intro .code-file:nth-of-type(1) {
    justify-self: end;
    grid-area: w;
  }

  .intro .code-file:nth-of-type(2) {
    justify-self: baseline;
    grid-area: m;
  }

  .intro .code-file:nth-of-type(3) {
    justify-self: baseline;
    grid-area: h;
  }
}

@media only screen and (max-width: 768px) {
  .intro .code-file {
    width: 100%;
    font-size: 90%;
  }
}
/* end intro */

main {
  min-height: 100vh;
  display: grid;
}
</style>
<main>  
  <section class="intro shadow-section">
    <header class="title">
      <TitleCard size="large" />
      <h2>Take your UI off the main thread.</h2>
      <nav>
        <ul>
          <li>
            <a class="button" href="./docs/what-is-fritz/">Docs</a>
          </li>
          <li>
            <a class="button" href="https://github.com/matthewp/fritz">GitHub</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="side-by-side">
      <CodeFile name="worker.js" lang="js" code={workerJsCode} class="code-file" />
      <CodeFile name="main.js" lang="js" code={mainJsCode} class="code-file" />
      <CodeFile name="index.html" lang="html" code={htmlCode} class="code-file" />
    </div>
  </section>

  <footer>
    <MadeWith />
  </footer>
</main>

<noscript>
  <h1>Oops!</h1>
  <p>It looks like you have JavaScript turned off. Since this is a website about a JavaScript library there's no reason to have it off.</p>
</noscript>
</html>