---
import About from '../components/About.astro';
import CodeFile from '../components/CodeFile.astro';
import MadeWith from '../components/MadeWith';
import TitleCard from '../components/TitleCard.astro';
import '../styles/global.css';

const jsCode = `
class HelloMessage extends Component {
  static props = {
    name: { attribute: true }
  }

  render() {
    return (
      <div>Hello {this.name}!</div>
    );
  }
}

fritz.define('hello-message', HelloMessage);
`;

const htmlCode = `
<hello-message name="World"></hello-message>

<script type="module">
  import fritz from 'https://unpkg.com/fritz@next/window.js';

  fritz.use(new Worker('./worker.js'));
</script>
`;
---

<!doctype html>
<html lang="en">
<meta charset="utf-8">
<title>Fritz - Take your UI off the main thread</title>
<link rel="manifest" href="./manifest.json">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta name="theme-color" content="#58A4B0"/>
<link rel="shortcut icon" href="/fritz/favicon.ico">
<style>
  :root {
    --jet: #2D2D2A;
    --davys-grey: #4C4C47;
    --cadet-blue: #58A4B0;
    --bittersweet-shimmer: #C14953;
    --bone: #E5DCC5;
    --maize-crayola: #EEC643;
  }
  * {
    box-sizing: border-box;
  }
  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    background-color: var(--davys-grey);
    margin: 0;
  }
</style>
<style>
html {
  --main-bg: var(--cadet-blue);
  --alt-bg: var(--davys-grey);

  --main-color: var(--jet);
  --alt-color: var(--bone);

  --code-snippet-font-size: 110%;
}

a, a:visited {
  font-weight: 600;
}

.shadow-section {
  box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.3);
  margin-bottom: 12px;
}

.intro, .about {
  padding: 2.7777777777777777rem 2.2222222222222223rem 1.6666666666666667rem 2.2222222222222223rem;
}

/* intro */
.intro {
  text-align: center;
  background-color: var(--main-bg);
  color: var(--main-color);
}

.primary-title {
  font-size: 2.2em;
}

.intro .code-file {
  display: block;
  width: 60%;
  margin: auto;
  text-align: initial;
  font-size: 130%;
}

.code-file:nth-of-type(1) {
  margin-top: 4rem;
}

header {
  margin-top: 7rem;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
}

header h2 {
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
.intro .code-file {
  width: 100%;
  font-size: 90%;
}
}
/* end intro */

footer {
background-color: var(--main-bg);
height: 7rem;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
font-size: 120%;
}
</style>
<main>  

  <section class="intro shadow-section">
    <header class="title">
      <TitleCard />
      <h2>Take your UI off the main thread.</h2>
      <nav>
        <ul>
          <li>
            <a class="button" href="./docs/">Docs</a>
          </li>
          <li>
            <a class="button" href="https://github.com/matthewp/fritz">GitHub</a>
          </li>
        </ul>
      </nav>
    </header>

    

    <CodeFile name="worker.js" lang="js" code={jsCode} class="code-file" />
    <CodeFile name="index.html" lang="html" code={htmlCode} class="code-file" />
  </section>

  <About class="about" />

  <footer>
    <MadeWith />
  </footer>
</main>

<noscript>
  <h1>Oops!</h1>
  <p>It looks like you have JavaScript turned off. Since this is a website about a JavaScript library there's no reason to have it off.</p>
</noscript>
</html>