body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   margin: 0;
}

header {
  height: 3em;
  background: #750D37;
}

main {
  padding: 2em;
}

.alien-search {
  font-size: 1.2em;
  width: 100%;
}

.species {
  list-style-type: none;
  padding: 0;
}

.species figure {
  display: flex;
  justify-content: center;
  margin: 0;
}

.specie {
  position: relative;
  display: inline-flex;
  margin: 10px;
}

.specie-title {
  position: absolute;
  background: rgba(0,0,0,.5);
  color: #FEFFFE;
  padding: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
