---
import highlight from '../hlight.js';
import '../styles/agate.css';

let { code, lang = 'js', class: className } = Astro.props;
let classes = `hljs ${lang}`;
---
<style>
  pre {
    display: grid;
  }

  code {
    background: var(--rough-fill);
    border: var(--rough-stroke-width) dashed var(--rough-stroke);
    --rough-fill: var(--jet);
    --rough-stroke: var(--bittersweet-shimmer);
    --rough-stroke-width: 2px;
    --rough-roughness: 2;
  }
</style>
<div class={className}>
  <pre>
    <code class={classes} set:html={highlight(code.trim(), lang)}></code>
  </pre>
</div>