---
import highlight from '../hlight.js';
import '../styles/agate.css';

let { code, lang = 'js', class: className } = Astro.props;
let html = highlight(code.trim(), lang);
---
<style>
  pre {
    display: grid;
  }

  code {
    font-size: var(--code-snippet-font-size, 100%);
  }
</style>
<div class={className}>
  <pre>
    <code class:list={['hljs', lang]} set:html={html}></code>
  </pre>
</div>