---
import '../styles/global.css';
import '../styles/agate.css';
import StylesCommon from './StylesCommon.astro';
import MadeWith from '../components/MadeWith';
import TitleCard from '../components/TitleCard.astro';
import HeadCommon from './HeadCommon.astro';
import DocSidebar from './DocSidebar.astro';

const { docId } = Astro.props;
---
<!doctype html>
<html lang="en">
<head>
  <HeadCommon />
  <StylesCommon />
  <style>
    @import "../styles/common.pcss";

    body {
      background-color: var(--cadet-blue);
    }

    header {
      margin-top: 2rem; 
    }

    main {
      margin: 4rem 10rem;
      display: flex;
    }

    .content {
      flex: 1;
    }

    .filler {
      min-width: 13em;
    }

    @media (--small-viewport) {
      main {
        display: block;
        margin-inline: 0;
        margin-block: 2rem;
      }

      header {
        padding: 2.7777777777777777rem 2.2222222222222223rem 1.6666666666666667rem 2.2222222222222223rem;
      }
    }
  </style>
</head>
<body id="docs-page">
  <header>
    <TitleCard />
  </header>
  <main>
    <DocSidebar class="sidebar" docId={docId}></DocSidebar>
    <div class="content">
      <slot></slot>
    </div>
    <div class="filler"></div>
  </main>
  
  <footer>
    <MadeWith />
  </footer>
  <noscript>
    <h1>Oops!</h1>
    <p>It looks like you have JavaScript turned off. Since this is a website about a JavaScript library there's no reason to have it off.</p>
  </noscript>
</body>
</html>