---
export type Props = {
  title?: string;
};

const {
  title = 'Fritz - Take your UI off the main thread'
} = Astro.props as Props;
---
<meta charset="utf-8">
<title>{title}</title>
<link rel="manifest" href="/manifest.json">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta name="theme-color" content="#58A4B0"/>
<link rel="shortcut icon" href="/favicon.ico">