---
const { slug } = Astro.props;
---
<html lang="en">
  <head>
    <title>Not found</title>
  </head>
  <body>
    <h1>Oops, this is not what you wanted to happen.</h1>
    <h2>The page <strong>{slug}</strong> doesn't seem to exist.</h2>
  </body>
</html>