---
import Flame from './Flame.astro';
import Slant from './effects/Slant.astro';
---
<style>
.wrapper {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}
</style>
<div class="wrapper">
  <Slant text="fritz" tag="h1" size="large" />
  <Flame size="large" />
</div>